/atividade02/atividade02-parte2/build/
/atividade02/atividade02-parte2/dist/
/atividade02/Atividade2/nbproject/private/
/atividade02/Atividade2/build/
/atividade02/Atividade2/dist/
/atividade03/atividade03/nbproject/private/
/atividade03/atividade03/build/
/atividade04/nbproject/private/
/atividade04/build/